
 /* Por favor usem as variaveis para facilitar a configuração do modo escuro  */
 /* Usem tbm o 'rem' inves do px, nas letras para facilitar a resposividade */
 
 /*
 Exemplo de como usar as variaveis de cor e o rem
 .componente{
    font-size: 30rem;
    background-color:var(--F6F6F6);
    color:var(--laranja);
    border-color:var(--azul);
 } 
As variaveis estão declaradas no arquivo global.css
Não é necessário copiar as variaveis aqui ,apenas use o var(--variavel);
    
 */